$primary: #4DA2C6

@import 'node_modules/bulma/bulma'

#qr-code
    max-width: 100%

.footer a 
    color: darken($primary, 20%)
    &:hover
        color: darken($primary, 30%)

.center-vertically
    display: flex
    align-items: center
    a 
        padding-left: 10px

.home-nav 
    .tabs a
        margin-bottom: 0
//     .nav-center
//         width: 100%
//         overflow: auto