$primary: #4DA2C6

// The dependencies
@import 'node_modules/bulma/bulma'
@import 'node_modules/font-awesome/scss/font-awesome'
@import 'node_modules/sweetalert/dev/sweetalert'
@import 'bulma_augmentations'

.qr-code
    max-width: 100%

.hero.generator 
    background: $black url('img/sphere.jpg') no-repeat center